POSTGRES_DB=catalogoweb_db
POSTGRES_USER=catalogoweb
POSTGRES_PASSWORD=change-me
POSTGRES_PORT=5443

SPRING_DATASOURCE_URL=jdbc:postgresql://localhost:5443/catalogoweb_db
SPRING_DATASOURCE_USERNAME=catalogoweb
SPRING_DATASOURCE_PASSWORD=change-me